<h1><%= "#{@camp.name}" %> Lodges</h1>
<% @lodges.each do |lodge| %>
<div><h3><%= lodge.name %></h3>
<p>Director: <%= lodge.director %></p>
<p>Number of Staff: <%= lodge.number_of_staff %></p>
<p>Specialty Area: <%= lodge.specialty_area %></p>
</div>
<% end %>