<!DOCTYPE html>
<html>
  <head>
    <title>CampsAndLodges</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>  
    <div class="nav-bar"> 
      <%= button_to "All Lodges", lodges_path, method: :get %>
      <%= button_to "All Camps", camps_path, method: :get %>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
